<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>

<div class="dashboard">

    <!-- Sidebar -->
    <div class="sidebar">

        <div class="profile">
            <img src="{{ url_for('static', filename='image/priya sharma.jpg') }}">
            <h3>Admin</h3>
        </div>

        <button onclick="showSection('home')">Home</button>
        <button onclick="showSection('students')">Students</button>
        <button onclick="showSection('subjects')">Subjects</button>
        <button onclick="showSection('analytics')">Analytics</button>
        <button class="logout-btn" onclick="logout()">Logout</button>

    </div>

    <!-- Main Content -->
    <div class="main-content">

        <!-- Home -->
        <div id="home" class="content active">

            <h1>Welcome Radhika 👋</h1>

            <div class="cards">

                <div class="card">
                    <h3>Class</h3>
                    <p>12th Science</p>
                </div>

                <div class="card">
                    <h3>Subject</h3>
                    <p>Computer Science</p>
                </div>

                <div class="card">
                    <h3>Total Students</h3>
                    <p id="totalStudents">0</p>
                </div>

            </div>

        </div>

        <!-- Students -->
        <div id="students" class="content">

            <h2>Student Management</h2>

            <form id="studentForm">

                <input type="text" id="enrollment_no" placeholder="Enrollment No">
                <input type="text" id="name" placeholder="Name">
                <input type="password" id="password" placeholder="Password">
                <input type="email" id="email" placeholder="Email">
                <input type="text" id="class_name" placeholder="Class">
                <input type="text" id="mobile" placeholder="Mobile">

                <input type="number" id="maths" placeholder="Maths">
                <input type="number" id="physics" placeholder="Physics">
                <input type="number" id="chemistry" placeholder="Chemistry">
                <input type="number" id="english" placeholder="English">
                <input type="number" id="computer_science" placeholder="Computer Science">

                <input type="number" id="attendance_maths" placeholder="Attendance Maths">
                <input type="number" id="attendance_physics" placeholder="Attendance Physics">
                <input type="number" id="attendance_chemistry" placeholder="Attendance Chemistry">
                <input type="number" id="attendance_english" placeholder="Attendance English">
                <input type="number" id="attendance_cs" placeholder="Attendance CS">
                <button type="submit">
                    Add Student
                </button>

            </form>

            <table>

                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Enrollment No</th>
                        <th>Email</th>
                        <th>Percentage</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody id="studentTable">

                </tbody>

            </table>

        </div>

        <!-- Subjects -->
        <div id="subjects" class="content">

                <h2>Subjects</h2>

                <table>

                    <tr>
                        <th>Subject</th>
                        <th>Teacher</th>
                        <th>Average Marks</th>
                    
                        
                    </tr>

                    

                    <tr>
                        <td>English</td>
                        <td>Ms. Sonal</td>
                        <td>75%</td>
                    </tr>

                    <tr>
                        <td>Chemistry</td>
                        <td>Mr. Nimesh</td>
                        <td>65%</td>
                    </tr>
                    <tr>
                        <td>physics</td>
                        <td>Mr. Dhruv</td>
                        <td>70%</td>
                    
                    </tr>
                    <tr>
                        <td>Maths</td>
                        <td>Mr. Vijay</td>
                        <td>72%</td>
                    </tr>
                    <tr>
                        <td>Computer Science</td>
                        <td>Ms. Radhika</td>
                        <td>78%</td>
                    
                    </tr>

                </table>

            </div>

        <!-- Analytics -->
        <div id="analytics" class="content">

            <h2>Overall Performance</h2>

            <div class="cards">

              <div class="card">
                    <h3>Average Marks</h3>
                    <p id="averageMarks">0%</p>
                </div>

                <div class="card">
                    <h3>Pass Students</h3>
                    <p id="passStudents">0</p>
                </div>

                <div class="card">
                    <h3>Fail Students</h3>
                    <p id="failStudents">0</p>
                </div>

            </div>

        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='admin.js') }}"></script>

</body>
</html>