<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Academic Pulse</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

  <!-- Navbar -->
  <header class="navbar">
    <div class="logo">Academic Pulse</div>

    <nav>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <div class="nav-buttons">
      <button class="login-btn"><a href="/login">Login</a></button>
      <button class="start-btn"><a href="/login">Get Started</a></button>
    </div>
  </header>

  <!-- Hero Section -->
  <section class="hero">

    <div class="hero-left">
      <span class="tag">Smart Analytics for Better Education</span>

      <h1>
        Track Student <br>
        Performance <span>Smarter</span>
      </h1>

      <p>
        Analyze marks, attendance, and progress with real-time
        insights and beautiful dashboards.
      </p>

      <div class="hero-buttons">
        <button class="primary-btn">Get Started Free</button>
        <button class="secondary-btn">Watch Demo</button>
      </div>
    </div>

    <div class="hero-right">

      <div class="dashboard-card">

        <h3>Performance Overview</h3>

        <div class="chart">

          <div class="bar purple"></div>
          <div class="bar blue"></div>
          <div class="bar orange"></div>
          <div class="bar green"></div>

        </div>

      </div>

    </div>

  </section>
  <!-- FEATURES SECTION -->

<section class="features">

  <div class="section-title">

    <span>FEATURES</span>

    <h2>
      Powerful Features
    </h2>

    <p>
      Everything you need to manage student performance effectively.
    </p>

  </div>

  <div class="feature-container">

    <!-- CARD 1 -->

    <div class="feature-card">

      <div class="icon purple">
        👨‍🎓
      </div>

      <h3>Student Management</h3>

      <p>
        Manage student records and profiles easily.
      </p>

    </div>

    <!-- CARD 2 -->

    <div class="feature-card">

      <div class="icon blue">
        📊
      </div>

      <h3>Analytics</h3>

      <p>
        Visualize performance using charts and reports.
      </p>

    </div>

    <!-- CARD 3 -->

    <div class="feature-card">

      <div class="icon green">
        ✅
      </div>

      <h3>Attendance Tracking</h3>

      <p>
        Track attendance in real time.
      </p>

    </div>
    <!--card 4 -->
    <div class="feature-card">

      <div class="icon yellow">
        🔍
      </div>
   


      <h3>Smart Search</h3>

      <p>
       Quickly find student records ,results ,and attendance information.
      </p>
    </div>
       <!-- card 5 -->
    <div class="feature-card">
        <div class="icon pink">
        📄
        </div>
         

        <h3>Report and Export</h3>

        <p>
            Generate beautiful reports and export them in PDF or Excel format.
        </p>
    </div>
    <!-- card 6 -->
    <div class="feature-card">

      <div class="icon red">
        🏆

      </div>

      <h3>Top Performers</h3>

      <p>
        Identify and recognize your top-performing students.
      </p>
    </div>

</section>
<!-- STATS SECTION -->

<section class="stats-section">

  <div class="stats-container">

    <!-- ITEM 1 -->

    <div class="stat-box">

      <div class="icon">🎓</div>

      <div>
        <h2>500+</h2>
        <p>Schools</p>
      </div>

    </div>

    <!-- ITEM 2 -->

    <div class="stat-box">

      <div class="icon">👨‍🎓</div>

      <div>
        <h2>50K+</h2>
        <p>Students</p>
      </div>

    </div>

    <!-- ITEM 3 -->

    <div class="stat-box">

      <div class="icon">📈</div>

      <div>
        <h2>98%</h2>
        <p>Accuracy</p>
      </div>

    </div>

    <!-- ITEM 4 -->

    <div class="stat-box">

      <div class="icon">🛡️</div>

      <div>
        <h2>100%</h2>
        <p>Data Security</p>
      </div>

    </div>

  </div>

</section>
<!-- TESTIMONIAL SECTION -->

<section class="testimonials">

  <span class="tag">TESTIMONIALS</span>

  <h2>Trusted by Schools Worldwide</h2>

  <p>
    See what teachers and administrators say about Academic Pulse.
  </p>

  <!-- TESTIMONIAL CARDS -->

  <div class="testimonial-container">

    <!-- CARD 1 -->

    <div class="testimonial-card">

      <div class="user-top">

        <img src="{{ url_for('static', filename='image/priya sharma.jpg') }}">

        <div class="stars">
          ⭐⭐⭐⭐⭐
        </div>

      </div>

      <p class="review">
        “Academic Pulse has completely changed how we track
        student performance.”
      </p>

      <h3>Priya Sharma</h3>

      <span>School Principal</span>

    </div>

    <!-- CARD 2 -->

    <div class="testimonial-card">

      <div class="user-top">

        <img src="{{ url_for('static', filename='image/amit varma.jpg') }}" alt="user">

        <div class="stars">
          ⭐⭐⭐⭐⭐
        </div>

      </div>

      <p class="review">
        “The analytics and reports are incredibly accurate and easy to understand.”
      </p>

      <h3>Amit Verma</h3>

      <span>Teacher</span>

    </div>

    <!-- CARD 3 -->

    <div class="testimonial-card">

      <div class="user-top">

        <img src="{{ url_for('static', filename='image/neha patel.jpg') }}" alt="user">

        <div class="stars">
          ⭐⭐⭐⭐⭐
        </div>

      </div>

      <p class="review">
        “Finally, a platform that makes student management simple.”
      </p>

      <h3>Neha Patel</h3>

      <span>Administrator</span>

    </div>

  </div>

</section>
<!-- CTA Section -->
<section class="cta">

    <div class="cta-content">
        <div>
            <h2>Ready To Transform Your School?</h2>
            <p>
                Join thousands of schools already using Academic Pulse
                to improve student performance.
            </p>
        </div>

        <button class="cta-btn">
            Get Started Free →
        </button>
    </div>

</section>
<!-- Footer -->

<footer class="footer">

    <div class="footer-container">

        <!-- Left -->
        <div class="footer-brand">

            <h2>Academic Pulse</h2>

            <p>
                Smart analytics for better education
                and stronger student results.
            </p>

        </div>

        <!-- Product -->
        <div class="footer-links">

            <h3>Product</h3>

            <a href="#">Features</a>
            <a href="#">Analytics</a>
            <a href="#">Pricing</a>
            <a href="#">Updates</a>

        </div>

        <!-- Company -->
        <div class="footer-links">

            <h3>Company</h3>

            <a href="#">About Us</a>
            <a href="#">Contact</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms</a>

        </div>

        <!-- Social -->
        <div class="footer-links">

            <h3>Follow Us</h3>

            <div class="social-icons">

    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>

    <a href="#"><i class="fa-brands fa-instagram"></i></a>

    <a href="#"><i class="fa-brands fa-twitter"></i></a>

    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>

</div>
        </div>

    </div>

    <hr>

    <p class="copyright">
        © 2025 Academic Pulse. All Rights Reserved.
    </p>

</footer>

</body>
</html>