<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login - Academic Pulse</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/login.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="login-container">

        <div class="login-card">

            <h1>Academic Pulse</h1>

            <p class="subtitle">
                Welcome Back 👋
            </p>

            <form>

                <div class="input-group">

                    <label>Enrollment Number</label>

                    <input type="text"
                           placeholder="Enter your enrollment number">

                </div>

                <div class="input-group">

                    <label>Password</label>

                    <input type="password"
                           placeholder="Enter your password">

                </div>

                <button type="submit">
                    Login
                </button>

            </form>

            <p class="admin-text">
                login as admin
                <a href="admin.html">Admin </a>
            </p>

        </div>

    </div>

</body>
</html>