<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>

    <link rel="stylesheet" href="../static/student.css">

    <script src="https://kit.fontawesome.com/your-kit.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <div class="dashboard">

        <!-- Sidebar -->

        <div class="sidebar">

           

            <button onclick="showSection('home')">
                Home
            </button>

            <button onclick="showSection('profile')">
                Profile
            </button>

            <button onclick="showSection('attendance')">
                Attendance
            </button>

            <button onclick="showSection('performance')">
                Performance
            </button>

            <button onclick="showSection('report')">
                Report
            </button>
           <button onclick="logout()" class="logout-btn">
               Logout
            </button>

        </div>

        <!-- Main Content -->

        <div class="main-content">

            <div class="header">

                <h1>Student Dashboard</h1>

            </div>

            <!-- Home -->

            <div id="home" class="content active">

                <div class="welcome-box" id="welcomeName">
                     Welcome Student 👋
                </div>

                <div class="cards">

                    <div class="card">
                        <h2>Class</h2>
                        <p>12th Science</p>
                    </div>

                    <div class="card">
                        <h2>Percentage</h2>
                        <p id="percentage">0%</p>
                    </div>

                    <div class="card">
                        <h2>Email</h2>
                        <p id="homeEmail">-</p>
                    </div>

                    <div class="card">
                        <h2>Status</h2>
                        <p id="status">-</p>
                    </div>

                </div>

            </div>

            <!-- Profile -->

            <div id="profile" class="content">

                
                 <div class="profile-section">

                    <img src="{{ url_for('static', filename='image/amit varma.jpg') }}">

                    <h3 id="profileName">Student</h3>

                    <p>class 12</p>

                </div>

                <div class="cards">

                    <div class="card">
                        <h3>Name</h3>
                        <p id="studentName">Student</p>
                    </div>

                    <div class="card">
                        <h3>Enrollment</h3>
                        <p id="enrollmentNo">-</p>
                    </div>
                    <div class="card">
                        <h3>Email</h3>
                        <p id="profileEmail">-</p>
                    </div>
                    <div class="card">
                        <h3>Class</h3>
                        <p id="className">-</p>
                    </div>
                    <div class="card">
                        <h3>Mobile</h3>
                        <p id="mobile">-</p>
                    </div>

                </div>

            </div>

            <!-- Attendance -->

            <div id="attendance" class="content">

                <h2>Attendance</h2>

                <table>

                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Attendance</th>
                        </tr>
                    </thead>

                    <tbody id="attendanceTable">
                        <!-- Data JS se aayega -->
                    </tbody>

                </table>

            </div>

            <!-- Performance -->

            <div id="performance" class="content">
                

                <h2>Performance</h2>

                <div class="cards">

                    <div class="card">
                        <h3>English</h3>
                        <p id="englishMarks">0</p>
                    </div>

                    <div class="card">
                        <h3>Chemistry</h3>
                        <p id="chemistryMarks">0</p>
                    </div>
                    <div class="card">
                        <h3>Physics</h3>
                        <p id="physicsMarks">0</p>
                    </div>
                    <div class="card">
                        <h3>Maths</h3>
                        <p id="mathsMarks">0</p>
                    </div>
                    <div class="card">
                        <h3>Computer Science</h3>
                        <p id="computerScienceMarks">0</p>
                    </div>

                </div>
                <div class="chart-container">
                    <canvas id="performanceChart"></canvas>
                </div>

            </div>

            <!-- Report -->

            <div id="report" class="content">

                <h2>Student Report</h2>

                <div class="report-box">

                    <p>Total Marks : 500</p>

                    <p>Percentage : 83%</p>

                    <p>Result : PASS</p>

                </div>

            </div>

        </div>

    </div>

    
    <script src="{{ url_for('static',filename='student.js') }}"></script>

</body>

</html>
